{% extends 'base.html' %} {% block content %}

<h1>Kit Details</h1>

<div class="card">
  <a href="{% url 'kits_detail' kit.id %}">
    <div class="card-content">
      <span class="card-title"
        >A $
        <span class="{{ kit.price.lower }}-text">{{ kit.price }}</span>
        {{ kit.name }}</span
      >
    </div>
    <div class="card-action">
      <a href="{% url 'kits_update' kit.id %}">Edit</a>
      <a href="{% url 'kits_delete' kit.id %}">Delete</a>
    </div>
  </a>
</div>

{% endblock %}
